.container {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    height: 100vh;
    grid-template-rows: 40px 1fr;
}

.toolbar {
    grid-row: 1/2;
    grid-column: 1/4;
}

.slides {
    grid-row: 2/3;
    grid-column: 1/2;
}

.workScreen {
    grid-row: 2/3;
    grid-column: 2/3;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.users {
    grid-row: 2/3;
    grid-column: 3/4;
}