.container {
    display: grid;
    grid-template-columns: minmax(auto, 60%) minmax(550px, 40%);
    min-height: 100vh;
}


@media (max-width: 1000px) {
    .container {
        grid-template-columns: 1fr;
    }
}